@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Sulphur+Point:wght@300;400;700&display=swap');



body {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    width: 1250px;
    height: 4886px;
    background-color: #FFFFFF;
    padding-right: 0%;
    padding-left: 5%;
    /* overflow-y: scroll; */
}

.shadow-box {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.rectangle-8 {
    position: absolute;
    width: 1280px;
    height: 102px;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.logo {
    position: absolute;
    width: 56px;
    height: 74px;
    left: 83px;
    top: 23px;
}

.nav-link {
    position: absolute;
    font-weight: normal;
    font-size: 20px;
    line-height: auto;
    text-decoration: none;
    color: inherit;
    font-family: 'League Spartan', sans-serif;
}

.product {
    left: 325px;
    top: 51px;
    color: #1E1E1E;
}

.tools {
    left: 435px;
    top: 51px;
    color: #1E1E1E;
}

.pricing {
    left: 522px;
    top: 51px;
    color: #1E1E1E;
}

.contact-sales {
    left: 943px;
    top: 51px;
    color: #040C1E;
}

.button {
    position: absolute;
    width: 108px;
    height: 36px;
    background-color: #FBDC18;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #21252B;
    font-size: 20px;
    font-weight: normal;
    font-family: 'League Spartan', sans-serif;
}

.register {
    left: 1084px;
    top: 42px;
}

.group-13 {
    position: absolute;
    left: 630px;
    top: 123px;
    width: 648px;
    height: 611px;
    overflow: hidden;
}

.group-13 img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.child-3 {
    position: relative;
}

.ellipse-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 73px;
    top: 155px;
    background-color: #FBDC18;
    border-radius: 50%;
}

.line-3 {
    position: absolute;
    left: 13px;
    top: 280px;
    width: 139.06px;
    height: 0px;
    border: 1px solid #143D4C;
    transform: rotate(90deg);
}

.ai-assisted-learning {
    position: absolute;
    left: 119px;
    top: 230px;
    font-size: 10px;
    color: #686868;
    font-family: 'Sulphur Point', sans-serif;
}

.main-title {
    position: absolute;
    left: 119px;
    top: 240px;
    font-size: 35px;
    font-weight: bold;
    color: #143D4C;
    font-family: 'League Spartan', sans-serif;
}

.main-title .master {
    color: #E1C619;
}

.description {
    position: absolute;
    left: 120px;
    top: 315px;
    width: 434px;
    height: 150px;
    font-size: 12px;
    line-height: 25px;
    color: #686868;
    font-family: 'League Spartan', sans-serif;
}

.join-institution {
    position: absolute;
    left: 108px;
    top: 450px;
    width: 180px;
    height: 40px;
    background-color: #FBDC18;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #143D4C;
    font-size: 16px;
    font-weight: normal;
    font-family: 'League Spartan', sans-serif;
}

.join-institution img {
    margin-left: 8px;
}

.watch-demo {
    position: absolute;
    left: 343px;
    top: 450px;
    width: 180px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-demo span {
    color: #143D4C;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
    font-family: 'League Spartan', sans-serif;
}

.watch-demo img {
    margin-left: 10px;
}

.twitter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1050px;
    top: 570px;
    background-color: #FFFFFF;
    border-radius: 0;
}

.linkedin {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1050px;
    top: 510px;
    background-color: #FFFFFF;
    border-radius: 0;
    padding: 4px 2px;
}

.line-2 {
    position: absolute;
    width: 171px;
    height: 0;
    left: 970px;
    top: 400px;
    border: 1px solid #FBDC18;
    transform: rotate(90deg);
}

@media screen and (max-width: 1280px) {
    .background {
        width: 100%;
    }
    .rectangle-8 {
        width: 100%;
    }
    .group-13 {
        width: 100%;
    }
    .child-3 {
        width: 100%;
    }
}
.parent {
    position: relative;
    left: 75px;
    top: 700px;
    width: 942px;
    height: 500px;
    transform: rotate(0deg);
    background-color: #040C1E;
}

.colleagues-image {
    position: absolute;
    left: 504px; /* Adjust as needed */
    top: 130px; /* Adjust as needed */
    width: 438px;
    height: 269px;
}

.why-choose {
    position: absolute;
    left: 100px; /* Adjust as needed */
    top: 85px; /* Adjust as needed */
    width: 424px;
    height: 37px;
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 0%;
    color: #FBDC18;
}

.support-box {
    position: absolute;
    left: 10px; /* Adjust as needed */
    top: 150px; /* Adjust as needed */
    width: 241px;
    height: 168px;
    border-radius: 0;
}

.dynamic-box {
    position: absolute;
    left: 260px; /* Adjust as needed */
    top: 150px; /* Adjust as needed */
    width: 241px;
    height: 168px;
    border-radius: 0;
}

.seamless-box {
    position: absolute;
    left: 10px; /* Adjust as needed */
    top: 301px; /* Adjust as needed */
    width: 241px;
    height: 168px;
    border-radius: 0;
}

.personalized-box {
    position: absolute;
    left: 260px; /* Adjust as needed */
    top: 301px; /* Adjust as needed */
    width: 241px;
    height: 168px;
    border-radius: 0;
}
