@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Sulphur+Point:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    width: 1250px;
    height: 4886px;
    background-color: #FFFFFF;
    padding-right: 0%;
    padding-left: 5%;
}

.shadow-box {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.rectangle-8 {
    position: absolute;
    width: 1280px;
    height: 102px;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.logo {
    position: absolute;
    width: 56px;
    height: 74px;
    left: 83px;
    top: 23px;
}

.nav-link {
    position: absolute;
    font-weight: normal;
    font-size: 20px;
    line-height: auto;
    text-decoration: none;
    color: inherit;
    font-family: 'League Spartan', sans-serif;
}

.product {
    left: 325px;
    top: 51px;
    color: #1E1E1E;
}

.tools {
    left: 435px;
    top: 51px;
    color: #1E1E1E;
}

.pricing {
    left: 522px;
    top: 51px;
    color: #1E1E1E;
}

.contact-sales {
    left: 943px;
    top: 51px;
    color: #040C1E;
}

.button {
    position: absolute;
    width: 108px;
    height: 36px;
    background-color: #FBDC18;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #21252B;
    font-size: 20px;
    font-weight: normal;
    font-family: 'League Spartan', sans-serif;
    }
    
    .register {
    left: 1084px;
    top: 42px;
    }
    
    .group-13 {
    position: absolute;
    left: 630px;
    top: 123px;
    width: 648px;
    height: 611px;
    overflow: hidden;
    }
    
    .group-13 img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    }
    
    .child-3 {
    position: relative;
    }
    
    .ellipse-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 73px;
    top: 155px;
    background-color: #FBDC18;
    border-radius: 50%;
    }
    
    .line-3 {
    position: absolute;
    left: 13px;
    top: 280px;
    width: 139.06px;
    height: 0px;
    border: 1px solid #143D4C;
    transform: rotate(90deg);
    }
    
    .ai-assisted-learning {
    position: absolute;
    left: 119px;
    top: 230px;
    font-size: 10px;
    color: #686868;
    font-family: 'Sulphur Point', sans-serif;
    }
    
    .main-title {
    position: absolute;
    left: 119px;
    top: 240px;
    font-size: 35px;
    font-weight: bold;
    color: #143D4C;
    font-family: 'League Spartan', sans-serif;
    }
    
    .main-title .master {
    color: #E1C619;
    }
    
    .description {
    position: absolute;
    left: 120px;
    top: 315px;
    width: 434px;
    height: 150px;
    font-size: 12px;
    line-height: 25px;
    color: #686868;
    font-family: 'League Spartan', sans-serif;
    }
    
    .join-institution {
    position: absolute;
    left: 108px;
    top: 450px;
    width: 180px;
    height: 40px;
    background-color: #FBDC18;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #143D4C;
    font-size: 16px;
    font-weight: normal;
    font-family: 'League Spartan', sans-serif;
    }
    
    .join-institution img {
    margin-left: 8px;
    }
    
    .watch-demo {
    position: absolute;
    left: 343px;
    top: 450px;
    width: 180px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .watch-demo span {
    color: #143D4C;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
    font-family: 'League Spartan', sans-serif;
}

.watch-demo img {
    margin-left: 10px;
}

.twitter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1050px;
    top: 570px;
    background-color: #FFFFFF;
    border-radius: 0;
}

.linkedin {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1050px;
    top: 510px;
    background-color: #FFFFFF;
    border-radius: 0;
    padding: 4px 2px;
}

.line-2 {
    position: absolute;
    width: 171px;
    height: 0;
    left: 970px;
    top: 400px;
    border: 1px solid #FBDC18;
    transform: rotate(90deg);
}

@media screen and (max-width: 1280px) {
    .background {
        width: 100%;
    }
    .rectangle-8 {
        width: 100%;
    }
    .group-13 {
        width: 100%;
    }
    .child-3 {
        width: 100%;
    }
}

.parent {
    position: relative;
    left: -50px;
    top: 700px;
    width: 1342px;
    height: 500px;
    background-color: #040C1E;
}

.colleagues-image {
    position: absolute;
    left: 630px;
    top: 130px;
    width: 438px;
    height: 269px;
}

.why-choose {
    position: absolute;
    left: 170px;
    top: 70px;
    width: auto;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    line-height: auto;
    letter-spacing: 0%;
    color: #FBDC18;
}

.why-choose .regular {
    font-weight: normal;
}

.why-choose .bold {
    font-weight: bold;
}

.support-box,
.dynamic-box,
.seamless-box,
.personalized-box {
    -ms-scroll-limit-y-max: 0;
    position: absolute;
    width: 211px;
    height: 138px;
}

.support-box {
    left: 170px;
    top: 150px;
}

.dynamic-box {
    left: 390px;
    top: 150px;
}

.seamless-box {
    left: 170px;
    top: 280px;
}

.personalized-box {
    left: 390px;
    top: 280px;
}

.support-box .support-title,
.dynamic-box .dynamic-title,
.seamless-box .seamless-title,
.personalized-box .personalized-title {
    font-family: 'League Spartan', sans-serif;
    line-height: auto;
    letter-spacing: 0%;
    margin: 0;
    color: #FBDC18;
}


.support-description,
.dynamic-description,
.seamless-description,
.personalized-description {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: left;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
}

/* Parent container styling */
.section 3 {
    position: relative;
    left: -50px;
    top: 1500px;
    width: 1342px;
    height: 2300px;
    background-color: #040C1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* First child */
.gradings-paragraph {
    position: relative;
    top: 975px;
    width: 100%;
    text-align: left;
    color: #F1D315;
    font-family: 'League Spartan', sans-serif;
}

/* OUR BEST FEATURES */
.best-features {
    position: absolute;
    left: 195px;
    top: -100px;
    width: 729px;
    height: 94px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    color: #F1D315;
}

/* Unleash your full academic potential with our features */
.academic-potential {
    position: absolute;
    left: 215px;
    top: -80px;
    width: 729px;
    height: 94px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    color: #081424;
}

/* Buttons */
.chatt, .quiz, .feedback {
    position: absolute;
    top: 1000;
    width: 207px;
    height: 37px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
}

.chatt {
    left: 218px;
    top: 82px;
    background-color: #F1D315;
}

.quiz {
    left: 491px;
    top: 82px;
    background-color: #F1D315;
}

.feedback {
    left: 734px;
    top: 82px;
    background-color: #F1D315;
}

/* Button texts */
.chatt span, .quiz span, .feedback span {
    color: #081424;
}

.quiz span, .feedback span {
    color: #000000;
}

.chatt span {
    color: #081424;
}

/* Text inside buttons */
.chatt-text {
    color: #081424;
}

.quiz-text {
    color: #000000;
}

.feedback-text {
    color: #000000;
}

/* Second child - Image */
.laptop img {
    position: absolute;
    left: 194px;
    top: 1650px;
    width: 504px;
    height: 316px;
}

.chevron-left img {
    position: absolute;
    left: 154px;
    top: 1750px;
    width: 20px;
    height: 20px; 
}

/* Third child */
.wonderful-paragraphs {
    position: relative;
    top: 626px;
    width: 100%;
    text-align: left;
    color: #F1D315;
    font-family: 'League Spartan', sans-serif;
}

/* MwalimuAi Chatbot */
.chatbot-title {
    position: absolute;
    left: 600px;
    top: 540px;
    width: 333px;
    height: 37px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    color: #F1D315;
}

/* Chatbot description */
.chatbot-words {
    position: absolute;
    left: 633px;
    top: 600px;
    width: 405px;
    height: 160px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    color: #000000;
}
.chevron-right img {
    position: absolute;
    left: 1054px;
    top: 620px;
    width: 20px;
    height: 20px; 
}
.paragraph-view {
    position: absolute;
    left: 210px;
    top: 2076px;
    width: 82px;
    height: 16px;
    transform: rotate(0deg);
    font-family: 'League Spartan', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 20px;
    line-height: normal; /* Auto */
    letter-spacing: 0%;
    margin-bottom: 0px; /* Paragraph spacing */
    color: #081424;
    white-space: nowrap; /* Prevent text truncation */
    text-align: left;
    vertical-align: top;
}

.group-12 {
    position: absolute;
    left: 205px;
    top: 2128px;
    width: 900px;
    height: 527px;
    transform: rotate(0deg);
    border-radius: 0; /* Mixed corner radius */
}
.testimonials-top {
    display: flex;
    margin-left: 130px;
    margin-top: 2230px;
    width: 105px;
    height: auto;
}

.testimony {
    margin-left: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #F1D315;
    font-family: 'League Spartan';
}

.marketing-command {
    margin-top: 38px;
}

.marketing-command-words {
    margin-top: 18px;
    font-size: 34px;
    font-weight: 500;
    color: #081424;
    width: 447px;
    height: 123px;
    font-family: "League Spartan";
}

.vision-statement {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #081424;
    width: 434px;
    height: auto;
    margin-top: -50px;
    font-family: "League Spartan";
}
.xoxoxo{
    display: flex;
    gap: 20px;
    width: 207px;
    height: 37px;
    border-radius: 10px;

}
.to-left {
    border: none;
    border-radius: 10px;
    width: 226px;
    height: 53px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.to-right {
    border: none;
    border-radius: 10px;
    width: 226px;
    height: 53px;
    cursor: pointer;
    background-color: #081424;
    /* margin-left: 30px; */
}

.cards {
    display: flex;
    /* justify-content: start; */
    margin-top: 90px;
    margin-left: -30px;

}

.card {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    height: 340px;
    color: #FFFFFF;
}

.card img {
    border-radius: 50%;
    margin-bottom: -80px;
}

.card-one {
    background-color: #2CFBD3;
}

.card-two {
    margin-top: 70px;
    background-color: #040C1E;
}

.card-three {
    background-color: #F1D315;
}

.profile {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.company-profile-flex{
     display: flex;
}

.company-profile{
    color: #081424;
    font-family: 'League Spartan';
    margin-top: 30px;
    font-size: 22px;
}

.company-profile-card-two{
    color: #FFFFFF;
    font-family: 'League Spartan';
    margin-top: 30px;
    font-size: 22px;
}
.company-profile-bold {
    font-size: 24;
    color: #081424;
    font-weight: bold;
    font-family: 'League Spartan';
}

.company-profile-bold-card-two {
    font-size: 24;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'League Spartan';
}
.rectangle-blue {
    display: flex;
    position: absolute;
    left: 190px;
    top: 3278px;
    width: 900px;
    height: 600px;
    background-color: #040C1E;
}
.contact-info, .contact-us-info {
    position: absolute;
    color: #FBDC18;
}
.contact-info {
    left: 50px;
    top: 60px;
}
.contact-us-info {
    left: 657px;
    top: 60px;
    color: #FFFFFF;
}
.contact-info p, .contact-us-info p {
    margin: 0;
    padding: 0;
}
.contact-info .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
}
.contact-us-info .declaration {
    font-weight: 500;
    font-size: 30px;
    margin-left: -170px;
    margin-top: 36px;
}
.contact-us-info .details {
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-left: -170px;
}
.input-field {
    background-color: #081424;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
    margin-top: 20px;
    width: 100px;
}
.input-field-long{
    background-color: #081424;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
    margin-top: 20px;
    width: 400px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
}
.input-group .input-field {
    flex: 1;
    margin-right: 20px;
}
.input-group .input-field:last-child {
    margin-right: 0;
}
.submit-btn {
    background-color: #FFFFFF;
    color: #040C1E;
    border-radius: 5px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
}
.contact-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-details img {
    margin-top: 32px;
    margin-left: -170px;
    margin-right: 180px;
}
